.whole-page{
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  
}

body{
  /* background-color: yellow; */
  height: 100%;
  width: 100%; 
  background-image: url("../images/background-image-vertical.jpeg");
  background-size: 150%;
}

#gameboard{
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(11, 50px);
  /* grid-template-rows: repeat(15, 10px); */
  /* grid-template-columns: (2, 10px); */
  /* gap: 2px; */
  border: solid 2px black;
  justify-content: center;
  align-items: stretch;
  /* background-color: blue; */
}

#dice-and-cards{
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 100px;
  border-left: solid 2px black;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
}

.squares{
  background-color: rgba(92, 77, 52, 0.749);
  border: solid 2px black;
  align-items: flex-start;
  align-content: flex-start;
  justify-items:first baseline;
  text-justify: auto;
}

.card-squares{
  background-color: rgba(54, 87, 54, 0.783);
}

.treasure{
  background-color: gold;
  font-size: smaller;
}

.welcome{
  background-color: purple;
  font-size: smaller;
}

.finish{
  background-color: red;
}

