
body{
  background-color: rgb(47, 47, 250);
  
}

h1 {
  font-family: who is hot stroke;
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(255, 1, 1), rgb(255, 141, 2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

#gameboard{
  width: 250px;
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(11, 50px);
  border: solid 2px black;
  justify-content: center;
  padding: 25px;
  background-image: url("../images/background-image-vertical.jpeg");
  background-size: cover;
  font-weight: bold;
}

#dice-and-cards{
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: 150px;
  align-items: center;
  border-left: solid 2px black;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
}

.squares{
  background-color: rgba(92, 77, 52, 0.749);
  border: solid 2px black;
  align-items: flex-start;
  align-content: flex-start;
  justify-items:first baseline;
  text-justify: auto;
}

.card-squares{
  background-color: rgba(54, 87, 54, 0.783);
}

.treasure{
  background-color: gold;
  background-image: url("../images/gold-background.jpeg");
  background-size: 50px;
  font-size: smaller;
}

.welcome{
  background-color: purple;
  background-image: url("../images/beach-background.jpeg");
  background-size: 60px;
  font-size: smaller;
}

.finish{
  background-color: red;
  background-image: url("../images/welcome-background.jpeg");
  background-size: 80px;
}

#dice-display{
  font-size: 30px;
}

.game-pieces{
  font-weight: bold;

}

#whos-turn-display{
  font-size: 30px;
}

#button-container{
  display: flex;
  justify-content: center;
}

button{
  margin: 10px 10px 10px 10px;
}

#P1{
  color: red;
  font-size: 15px;
}

#P2{
  color: green;
  font-size: 15px;
}

#P3{
  color: purple;
  font-size: 15px;
}

#P4{
  color: yellow;
  font-size: 15px;
}

@media (min-width: 768px) {
  #gameboard{
    height: 500px;
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(11, 90px);
    grid-template-rows: repeat(5, 90px);
    border: solid 2px black;
    justify-content: center;
    background-image: url("../images/background-image-horizontal.jpeg");
    background-size: cover;
    font-weight: bold;
  }
  .treasure{
    background-color: gold;
    background-image: url("../images/gold-background.jpeg");
    background-size: cover;
    font-size: smaller;
  }
  
  .welcome{
    background-color: purple;
    background-image: url("../images/beach-background.jpeg");
    background-size: cover;
    font-size: smaller;
  }
  
  .finish{
    background-color: red;
    background-image: url("../images/welcome-background.jpeg");
    background-size: cover;
  }

  #P1{
    color: red;
    font-size: 25px;
  }
  
  #P2{
    color: green;
    font-size: 25px;
  }
  
  #P3{
    color: purple;
    font-size: 25px;
  }
  
  #P4{
    color: yellow;
    font-size: 25px;
  }

}